@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

header h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;
}

.card-post {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}